# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=4885
    I:lastPlayer=2
}


gridstorage {
    S:2138=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2140=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2341=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2342=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2344=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2345=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4759=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4762=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4763=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4805=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJImSaXF7xoAQMAI0NbVxUAAAA=
    S:4844=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4846=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4870=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:4884=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:548=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
}


orderedvalues {
    I:presses=59
}


players {
    I:7722b5d9-5276-3368-83b2-2255e802f481=0
    I:ea1770c2-a69c-11e7-84bc-002590a1379b=1
}


